.cards-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 220px;
    border: 2px solid black;
}