* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
    min-height: 100vh;
    padding: 40px 20px;
    gap: 50px;
    flex-wrap: wrap;
}

section > div {
    /* border: 2px solid black; */
}

section > div:first-child {
    max-width: 550px;
}

section > div:first-child p {
    text-align: justify;
}

section > div:last-child {
    max-width: 200px;
}

section > div:last-child img {
    width: 100%;
}

@media (max-width: 840px) {
    section {
        flex-direction: column;
        gap: 30px;
    }

    section > div:last-child {
        max-width: 550px;
    }

    section > div:first-child p {
        font-size: 22px;
    }
    
}