* {
    box-sizing: border-box;
}

header {
    /* border: 2px solid black; */
    display: flex;
    padding: 0px 18px;
}

header > div {
    /* border: 2px solid red; */
    width: 50%;
}

header > div:nth-child(2) {
    /* border: 2px solid blue; */
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 24px;
}


