 /** header start **/

  header {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
}

header > section {
    width:50%;
    height:100px;
}

header > section > p:first-child {
    font-weight: bold;
    font-size:24px;
}

header > section > p:nth-child(2) {
    color: blue;
}

header > nav {
    width:50%;
    height:100px;
    display:flex;
    align-items:center;
    justify-content:space-around;
}
/**header end **/

/**about section start **/

main > section:first-child {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main > section > section:first-child {
     width:50%;
     height:min-content;
     padding:10px 20px 10px 10px;
}

main > section > section:nth-child(2) {
     width:200px;
     height:267px;
     margin:10px 10px 10px 20px;
     padding:10px;
}

main > section:nth-child(2) {
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main > section:nth-child(2) > section:first-child {
     width:70%;
}

main > section:nth-child(2) > section > h2 {
     text-align:center;
}
/** about section end **/


/** quote section start **/

main > section:nth-child(3) {
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main > section:nth-child(3) > section {
     width:50%
}

main > section:nth-child(3) > section > h2 {
     text-align:center
}
/** quote section end **/

/** Journey section start **/

main > section:nth-child(4) {
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main > section:nth-child(4) > section {
    width:60%;
}

main > section:nth-child(4) > section > h2 {
    text-align:center;
}
/** Journey section end **/

/** Routine section start **/

main > section:nth-child(5) {
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main > section:nth-child(5) > section {
     width:fit-content;
}
 /**Rotine section end **/

 /** Skill section start **/

 main > section:nth-child(6) {
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 main > section:nth-child(6) > section {
    width:fit-content;
 }
 /**Skill section end **/

 /** Projects section start **/

 main > section:nth-child(7) {
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 main > section:nth-child(7) > section {
    width:fit-content;
 }

 main > section:nth-child(7) > section > h2,h3 {
    text-align: center;
 }
 /**projects section end **/

 /** Interest section start **/

 main > section:nth-child(8) {
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 main > section:nth-child(8) > section {
    width:fit-content;
 }

 main > section:nth-child(8) > section > h2 {
    text-align:center;
 }
 /** Interest section end **/

  /**Goals section start **/

  main > section:nth-child(9) {
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 main > section:nth-child(9) > section {
    width:fit-content;
 }

 main > section:nth-child(9) > section > h2 {
    text-align:center;
 }
/**Goals section end **/

/**Contacts section start **/

main > section:nth-child(10) {
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 main > section:nth-child(10) > section {
    width:60%;
 }

 main > section:nth-child(10) > section > h2 {
    text-align:center;
 }

main > section:nth-child(10) > section > p {
    text-align:center;
}
/**Contacts section end **/

/**Footer section start **/

footer > p {
    text-align:center;
}

