 header {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
}
#about, #quote, #journey, #routine, #skills, #projects, #interests, #goals, #contacts {
    width: 100%;
    height: 700px;
}
#hero, #about, #quote, #journey, #routine, #skills, #projects, #interests, #goals, #contacts {
    display: flex;
    align-items: center;
    justify-content: center;
}
#hero {
    width: 100%;
    height: 500px;
}