body > form {
    border: 2px solid grey;
    width: 400px;
    margin: auto auto;
    background-color: rgb(225, 230, 234);
    border-radius: 25px;
}

body > form > section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body > form > section > div {
    display: flex;
    flex-direction: column;
    padding:12px 12px;
    margin: 12px 0px;
    border: 2px solid grey;
    width: 300px;
    background-color: rgb(218, 222, 222);
    border-radius: 20px;
}