body {
    /* border: 2px solid black; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    display: grid;
    place-items: center;
}

section{
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: repeat(3, 140px);
    grid-template-rows: 140px 240px 140px 140px;
    gap: 15px;

    grid-template-areas: 
    "header header header"
    "menu main main"
    "sidebar widget-1 widget-2"
    "footer footer footer"
    ;
    
}

section > div {
    border: 2px solid blue;
    display: grid;
    place-items: center;
    font-weight: bold;
}

.header { 
    grid-area: header;
 }

.menu { 
    grid-area: menu; 
 }

.main { 
    grid-area: main;
 }

.sidebar { 
    grid-area: sidebar;
 }

.widget-1 { 
    grid-area: widget-1;
 }

.widget-2 { 
    grid-area: widget-2;
 }

.footer { 
    grid-area: footer;
 }



