* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    border: 2px solid red;
    width:500px;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

section > div {
    border: 2px solid blue;
}